// FONTS 
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Roboto:wght@400;700&display=swap');
$font-roboto: 'Roboto', sans-serif;
$font-messiri: 'El Messiri', sans-serif;
// COLORS
$white: #ffffff;
$dark: #162831;
$blue: #018ABE;